.about-us {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: $basic-black;
  margin-bottom: 58px;
}

.about-us__header {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
}

.about-us__list {
  list-style: none;
}
