.button {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $font-gray;
  background-color: $basic-white;
  padding: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $basic-white;
    background-color: $font-gray;
  }

  &:active {
    color: $btn-white;
    background: linear-gradient(0deg, $font-gray, $font-gray);
  }
}

.button--form {
  font-size: 17px;
  line-height: 16px;
}
