.button {
  font-family: "Open-sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  border: 2px solid $font-gray;
  color: $font-gray;
  background-color: $basic-white;

  &:hover {
    color: $basic-white;
    background-color: $font-gray;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background: linear-gradient(0deg, $font-gray, $font-gray);
  }
}

.button--form {
  font-size: 17px;
  line-height: 16px;
}

.button--catalog {
  font-size: 18px;
  line-height: 16px;
}
