.catalog {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: 0 -50px;
    padding: 0;
  }
}
