.contacts-list {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  min-height: 298px;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
  }
}

.contacts-list__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.contacts-list__wrapper {
  @media (min-width: $tablet-width) {
    width: 75%;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.contacts-list__heading {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 28px;
    width: 167px;
  }

  @media (min-width: $desktop-width) {
    width: 177px;
    padding-left: 61px;
  }
}

.contacts-list__name {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
  }
}

.contacts-list__surname {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.contacts-list__patronymic {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
  }
}

.contacts-list__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  padding: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
    padding-right: 24px;
  }

  @media (min-width: $desktop-width) {
    // padding-left: 60px;
  }
}

.contacts-list__item {
  border: none;
  border-bottom: 2px solid $basic-black;
  margin: 0;
  padding-bottom: 15px;

  &:hover {
    border-bottom: 2px solid $tiffany;
  }

  &:active {
    border-bottom: 2px solid $tiffany;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}
