.contacts-list {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  min-height: 298px;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-left: 166px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    margin-bottom: 7px;
    padding-left: 256px;
  }
}

.contacts-list__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.contacts-list__wrapper {
  @media (min-width: $tablet-width) {
    width: 501px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.contacts-list__heading {
  margin-bottom: 28px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    position: absolute;
    align-items: start;
    top: 68px;
    left: 19px;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    top: 72px;
    width: 175px;
    margin-left: -525px;
    padding-left: 61px;
  }
}

.contacts-list__name {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.contacts-list__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 19px;
    padding-right: 24px;
    padding-top: 15px;
  }
}

.contacts-list__item {
  border: none;
  border-bottom: 2px solid $basic-black;
  margin: 0;

  &:hover {
    border-bottom: 2px solid $tiffany;
  }

  &:focus {
    border-bottom: 2px solid $tiffany;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}
