.contact-info {
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  min-height: 52px;
  padding: 0;
  padding-right: 40px;
  background-color: transparent;

  &:hover {
    border-bottom: 2px solid $tiffany;
    color: $basic-black;
  }

  &:focus {
    border-bottom: 2px solid $tiffany;
    color: $basic-black;
  }

  @media (min-width: $tablet-width) {
    padding-left: 17px;
  }
}
