.contacts {
  font-size: 14px;
  line-height: 30px;
  color: $font-gray;
  margin-bottom: 39px;
}

.contacts__header {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
