.contact-info {
  font-family: "Open sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: $contact-grey;

  &:hover {
    color: $basic-black;
  }

  &:focus {
    color: $basic-black;
  }
}
