.copyright {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-left: 68px;
    margin-left: 0;
  }
}

.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin: 0 30px 0 0;
}

.copyright__link {
  position: relative;
  width: 27px;
  height: 34px;
}

.copyright-icon {
  position: absolute;
  width: 27px;
  height: 34px;
  bottom: 8px;
  fill: $tiffany;
}

.copyright__link:hover .copyright-icon {
  fill: $dark-tiffany;
}

.copyright__link:active .copyright-icon {
  fill: $dark-tiffany;
  opacity: 0.3;
}
