.delivery {
  margin: 0;
  color: $font-gray;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    order: 4;
    margin-left: auto;
    padding-top: 22px;
  }

  @media (min-width: $desktop-width) {
    min-width: 259px;
    text-align: right;
    padding-top: 19px;
  }
}
