.email-list {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-bottom: 50px;
  }
}

.email-list__title {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    min-width: 88px;
    margin: 0;
    margin-right: 48px;
  }

  @media (min-width: $desktop-width) {
    white-space: nowrap;
    margin-right: 89px;
  }
}

.email-list__item {
  border: none;
  border-bottom: 2px solid $basic-black;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}
