.footer-logo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.footer-logo__link {
  @media (min-width: $tablet-width) {
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}
