.marketing-list {
  list-style: none;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin-top: 0;
  padding: 0;
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    padding-top: 17px;
  }
}

.marketing-list__item {
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.marketing-list__item:nth-child(1) {
  @media (min-width: $desktop-width) {
    padding-right: 32px;
  }
}
