.order-form__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $font-gray;
}

.order-form__heading {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $tiffany;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    padding-left: 47px;
  }
}
