.page-footer {
  font-size: 19px;
  line-height: 19px;
  background-color: $wave-gray;
  min-height: 160px;
}

.page-footer__wrapper {
  padding: 0 30px;
  padding-top: 28px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 51px;
    min-height: 143px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }
}

.page-footer__copyright {
  display: flex;
}

.page-footer__logo {
  @media (min-width: $tablet-width) {
    margin-right: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 276px;
  }
}
