.page-main__desc {
  font-size: 13px;
  line-height: 24px;
  color: $font-gray;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 81px;
    width: 668px;
  }

  @media (min-width: $desktop-width) {
    width: 1052px;
    padding: 0 175px;
    margin: 0;
    margin-bottom: 82px;
  }
}
