.page-header {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}
