.main-nav__item__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
}

.main-nav__list {
  list-style: none;
}
