.page-footer {
  font-size: 19px;
  line-height: 19px;
  background-color: $wave-gray;
  min-height: 160px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    min-height: 143px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__copyright {
  margin-left: 69px;
  display: flex;
}
