.product {
  margin-top: 30px;
  border: 1px solid $bottom-grey;

  &:hover {
    box-shadow: 0 6px 10px $shadow-grey;
  }

  &:active {
    box-shadow: 0 3px 5px $shadow-grey;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 334px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 316px;
    min-height: 659px;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  padding: 28px 5px 32px 28px;

  @media (min-width: $tablet-width) {
    padding: 27px 39px 26px 34px;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 31px 26px 34px;
  }
}

.product__specs {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.product__action {
  display: flex;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
}

.product__link {
  text-decoration: none;
}

.product__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__desc {
  font-size: 13px;
  line-height: 30px;
  color: $font-gray;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}

.product__basket-link {
  @media (min-width: $tablet-width) {
    order: 2;
  }
}
