.product {
  max-width: 260px;
  border: 1px solid $bottom-grey;

  &:hover {
    box-shadow: 0 6px 10px $shadow-grey;
  }

  &:active {
    box-shadow: 0 3px 5px $shadow-grey;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 334px;
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-width: 316px;
    height: 659px;
  }
}

.product:not(:last-of-type) {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 51px;
  }
}

.product__info {
  display: flex;
  flex-direction: column;
  padding: 3px 26px 21px 28px;

  @media (min-width: $tablet-width) {
    padding: 27px 26px 17px 33px;
  }

  @media (min-width: $desktop-width) {
    min-height: 197px;
    padding: 25px 32px 19px 27px;
  }
}

.product__image {
  @media (min-width: $desktop-width) {
    min-height: 463px;
  }
}

.product__specs {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: auto;
  }
}

.product__action {
  display: flex;
  justify-content: space-between;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    margin-top: 36px;
  }
}

.product__action::before {
  position: absolute;
  content: "";
  background-image: url("../img/underline-m.svg");
  background-repeat: no-repeat;
  width: 204px;
  height: 1px;
  top: -23px;
  left: 0;

  @media (min-width: $tablet-width) {
    background-image: url("../img/underline-t.svg");
    background-repeat: no-repeat;
    width: 268px;
    height: 1px;
  }
}

.product__link {
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;
  }
}

.product__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: $basic-black;
  margin-bottom: 5px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    max-width: 242px;
  }
}

.product__desc {
  font-size: 13px;
  line-height: 30px;
  color: $font-gray;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
    order: 1;
  }
}

.product__basket-link {
  @media (min-width: $tablet-width) {
    order: 2;
    margin-right: 5px;
    padding-bottom: 2px;
  }
}
