.reviews {
  @media (min-width: $tablet-width) {
    background-image: url("../img/reviewtablet.jpg");
    background-repeat: no-repeat;
    margin: 0 -50px;
    margin-bottom: 131px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/reviewdesktop.jpg");
    background-repeat: no-repeat;
    margin: 0;
    margin-bottom: 71px;
  }
}

.reviews__item {
  margin: 0 50px;
  padding: 0;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  padding-left: 50px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    margin-top: 83px;
    margin-bottom: 39px;
    order: -1;
    max-width: 209px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 53px;
  }
}

.reviews__contact {
  max-width: 260px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 16px 26px;
    text-align: center;
    max-width: 175px;
    max-height: 52px;
    order: -1;
    margin-top: 83px;
    margin-left: 284px;
    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 79px;
  }
}

.reviews__text {
  max-width: 260px;
  margin: 0;
  padding-bottom: 33px;

  @media (min-width: $tablet-width) {
    max-width: 668px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 30px;
    max-width: 875px;
  }
}

.reviews__author {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 17px;
}

.reviews__username {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
}

.reviews__toggles {
  @media (min-width: $tablet-width) {
    margin-left: 493px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 875px;
  }
}
