.reviews__title {
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: $basic-black;
  text-transform: uppercase;
}

.reviews__text {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $font-gray;
}

.reviews__author {
  font-family: "Open Sans",sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.reviews__username {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

.reviews__contact {
font-family: "Open Sans", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 20px;
text-transform: uppercase;
color: $basic-black;
}
