.slider {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.slider__item {
  display: none;
}

.slider__item-current {
  display: block;
}
