.slider {
  position: relative;
  padding: 0 30px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    min-height: 457px;
    background-image: url("../img/reviewtablet.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 350px 457px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/reviewdesktop.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    max-width: 1050px;
    min-height: 456px;
    padding-left: 175px;
    padding-bottom: 66px;
    margin: 0 auto;
  }
}

.slider__list {
  margin-bottom: 32px;
}

.slider__item {
  display: none;
  margin: 0;
}

.slider__item--current {
  display: block;
}

.slider__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    padding: 80px 21px 0;
  }

  @media (min-width: $desktop-width) {
    width: 876px;
    padding: 0;
    padding-top: 79px;
  }
}

.slider__toggles {
  margin: 0;
  margin-bottom: 32px;
  display: flex;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 137px;
    right: 69px;
    bottom: 61px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    border: none;
    right: 37px;
    bottom: 112px;
  }
}

.slider__toggle {
  width: 50%;
  border: 1px solid $border-gray;
  background-color: transparent;
  padding: 13px 42px 13px 31px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 26px;
    border: none;
    padding: 0;
    margin-right: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 18px;
  }
}
