.slider {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.slider__item:nth-child(2),
.slider__item:last-child {
  display: none;
}
