.social {
  padding-bottom: 20px;
  border-bottom: 1px solid $border-gray;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    border: none;
    margin-right: 122px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 312px;
    padding-top: 4px;
  }
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 142px;
  margin: 0 auto;
  padding: 0;
}
