.submit__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-left: 175px;
  }
}

.submit__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $font-gray;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    min-width: 327px;
    order: 2;
    margin: 0;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
    margin-right: 125px;
  }
}

.submit__button {
  font-size: 17px;
  line-height: 16px;
  height: 52px;
  max-width: 260px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-right: 109px;
    padding: 18px 32px;
    min-width: 230px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 17px;
    margin-right: 10px;
  }
}
