.video-block {
  padding-left: 30px;
  padding-right: 30px;
}

.video-block__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.video-block__desc {
  font-size: 13px;
  line-height: 24px;
  color: $font-gray;
}
