.video-block {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 104px;
  }
}

.video-block__container {
  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &:hover {
    box-shadow: 0 6px 10px $shadow-grey;
  }

  &:active {
    box-shadow: 0 3px 5px $shadow-grey;
  }
}

.video-block__content {
  border: 1px solid $bottom-grey;
  max-width: 260px;
  padding-top: 9px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    max-width: 668px;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 1050px;
    height: 455px;
    padding-left: 682px;
    padding-right: 32px;
    padding-bottom: 14px;
  }
}

.video-block__title {
  position: relative;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-left: 66px;
  padding-right: 30px;
  margin-left: 25px;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    order: 2;
    margin: 0;
    margin-bottom: 24px;
    padding-top: 22px;
    padding-left: 105px;
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 96px;
    padding-left: 80px;
    margin-bottom: 26px;
  }
}

.video-block__title::before {
  position: absolute;
  content: "";
  background-image: url("../img/video-icon-mobile.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
  top: 12px;
  left: 9px;

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 41px;
  }

  @media (min-width: $desktop-width) {
    top: 46px;
    left: 80px;
  }
}

.video-block__wrapper {
  position: relative;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    order: 1;
    min-height: 455px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 683px;
    height: 455px;
  }
}

.video-block__desc-wrapper {
  padding-left: 34px;
  padding-right: 34px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 78px;
    padding-right: 36px;
  }
}

.video-block__desc {
  margin: 0;
  margin-bottom: 42px;
  width: 256px;
  font-size: 13px;
  line-height: 24px;
  color: $font-gray;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 41px;
    width: 592px;
  }

  @media (min-width: $desktop-width) {
    max-width: 253px;
    margin-bottom: 53px;
  }
}

.video-block__wrapper-button {
  position: absolute;
  top: 50%;
  left: 50%;
  background: 0 0;
  border: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-block__wrapper-button::before {
  position: absolute;
  content: "";
  background-image: url("../img/play-mobile.svg");
  width: 101px;
  height: 77px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);

  @media (min-width: $tablet-width) {
    transform: translate(-50%, -65%);
  }

  @media (min-width: $desktop-width) {
    transform: translate(-50%, -45%);
  }
}

.video-block__btn {
  font-size: 16px;
  line-height: 18px;
  padding: 14px 17px;
  border: 2px solid $font-gray;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 17px;
    width: 585px;
  }

  @media (min-width: $desktop-width) {
    max-width: 230px;
  }
}

.video-block__wrapper-background {
  @media (min-width: $tablet-width) {
    width: 668px;
    height: 455px;
  }

  @media (min-width: $desktop-width) {
    width: 683px;
    height: 455px;
  }
}
