// Colors

$basic-black: #000000;
$basic-white: #FFFFFF;
$burger-black: #231F20;
$tiffany: #63D1BB;
$dark-tiffany: #56C3B2;
$font-gray: #444444;
$bottom-grey: #ECECEC;
$wave-gray: #F1F1F1;
$footer-border: #E5E5E5;


