// Colors

$basic-black: #000000;
$basic-white: #ffffff;
$burger-black: #231f20;
$tiffany: #63d1bb;
$dark-tiffany: #56c3b2;
$font-gray: #444444;
$bottom-grey: #ececec;
$wave-gray: #f1f1f1;
$footer-border: #e5e5e5;
