// Colors

$basic-black: #000000;
$basic-white: #ffffff;
$burger-black: #231f20;
$tiffany: #63d1bb;
$tiffany-hover: #59d5bc;
$dark-tiffany: #56c3b2;
$dark-tiffany-hover: #46c1ae;
$font-gray: #444444;
$bottom-grey: #ececec;
$wave-gray: #f1f1f1;
$footer-border: #e5e5e5;
$border-gray: #c7c7c7;
$shadow-grey: rgba(0, 0, 0, 0.1);
$contact-grey: rgba(0, 0, 0, 0.3);
$btn-white: rgba(255, 255, 255, 0.3);

// Viewports

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 320px;
